@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --clr-red: hsl(0, 78%, 62%);
    --clr-cyan: hsl(180, 62%, 55%);
    --clr-orange: hsl(34, 97%, 64%);
    --clr-blue: hsl(212, 86%, 64%);

    --clr-very-dark-blue: hsl(234, 12%, 34%);
    --clr-grayish-blue: hsl(229, 6%, 66%);
    --clr-very-light-gray: hsl(0, 0%, 98%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: var(--clr-grayish-blue);
    background: var(--clr-very-light-gray);
}

h1,
h3 {
    color: var(--clr-very-dark-blue);
}

h1:nth-child(2) {
    margin-bottom: 2rem;
}

.w200 {
    font-weight: 200;
}

.hero-text {
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
}

.hero-text>p {
    max-width: 500px;
}

.col-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.col {
    display: flex;
    flex-direction: column;
}

.col:nth-child(2) {
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    max-width: 21rem;
    max-height: 17rem;
    padding: 2rem;
    background: white;
    border-radius: 5px;
    box-shadow: 0 14px 20px hsla(212, 86%, 64%, 0.08), 0 10px 10px hsl(212, 86%, 64%, 0.08);
}

.card>h3 {
    margin-bottom: 0.5rem;
}

.card>p {
    font-size: 0.8rem;
}

.card>img {
    margin-top: auto;
    margin-left: auto;
    align-self: center;
}

.border-top-red {
    border-top: 5px solid var(--clr-red);
}

.border-top-cyan {
    border-top: 5px solid var(--clr-cyan);
}

.border-top-orange {
    border-top: 5px solid var(--clr-orange);
}

.border-top-blue {
    border-top: 5px solid var(--clr-blue);
}




@media only screen and (max-width: 600px) {
    body {
        justify-content: flex-start;
        padding: 3rem 0;
    }

    .hero-text {
        margin-bottom: 2rem;
    }

    .hero-text>h1 {
        font-size: 1.5rem;
    }

    .hero-text>p {
        max-width: 100%;
    }

    .col-container {
        flex-direction: column;
    }

    .col {
        padding: 0 2rem;
    }

}